@import "https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap";

:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}


* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1)
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 38px;
    line-height: 48px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: initial;
}

.links a:hover {
    color: #50fa7b;
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    padding: 32px;
    font-size: 18px;
    opacity: 1;
}

#wrapper img {
    border-radius: 200px;
    border: 5px solid var(--color-rocket);
    margin-bottom: 20px;
    height: 350px;
}
            
#wrapper h1 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 30px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    font-weight: normal;
    max-width: 700px;
    opacity: 0.9;

}

#wrapper ul {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 85px;
    margin: 32px auto;
    opacity: 0.8;

}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
    
}