{% extends "layout.njk" %}

{% block head%}
    <title>Curso - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}
        
<div id="wrapper">
    <h1>Rocketseat</h1>
</div>

<section class="cards">

    <div class="card" id="starter">

        <div class="card__image-container">
            <img src="https://skylab.rocketseat.com.br/static/64c237ccff807c054339a62d53b4b402.svg" alt="Starter">
        </div>
        <div class="card__content">
            <p>Cursos 100% online e gratuitos para você entrar com o pé direito nas tecnologias mais desejadas do mercado.</p>
        </div>
        <div class="card__info">
            <p>5 módulos</p>
            <p class="card__price">Free</p>
        </div>

    </div>

    <div class="card" id="launchbase">

        <div class="card__image-container">
            <img src="https://skylab.rocketseat.com.br/static/0828532024cb46921a6b5e941f8d788d.svg" alt="LaunchBase">
        </div>
        <div class="card__content">
            <p>Domine o desenvolvimento web do zero e acelere na direção dos seus objetivos.</p>
        </div>
        <div class="card__info">
            <p>8 módulos</p>
            <p class="card__price">Free</p>
        </div>

    </div>

    <div class="card" id="gostack">

        <div class="card__image-container">
            <img src="https://skylab.rocketseat.com.br/static/83a178a0653dab1d55e2ed7946465975.svg" alt="GoStack">
        </div>
        <div class="card__content">
            <p>Domine o back-end, o front-end e o mobile através do método que vai te guiar direto ao ponto na direção dos seus objetivos.</p>
        </div>
        <div class="card__info">
            <p>8 módulos</p>
            <p class="card__price">Free</p>
        </div>

    </div>

</section>

<div class="modal-overlay">
    <div class="modal">

        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>
        <a class="maximize-modal">
            <i class="material-icons">maximize</i>
        </a>

        <div class="modal-content">
            <iframe src="https://rocketseat.com.br/starter" frameborder="0"></iframe>

        </div>

    </div>


</div>

<script src="desafio3.js"></script>

<div id="links-footer" class="links">
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
    <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>

</div>
        
{% endblock %}