<!DOCTYPE html>
<html lang="pt-br">


    <head>

        {% block head%}
            <title>Magno</title>
            <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon"/>
        {% endblock %}
        
        <link rel="stylesheet" href="/styles.css">
    </head>


    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/course">Cursos</a>
            </div>
        </header>

        {% block content %}{% endblock %}
        
        
    </body>

</html>